<div class="l-main_container">
  <div class="m-title_flex">
    <h2 class="m-title">ジャンル</h2>
  </div>
  <%= form_with model: @genre, local: true do |f| %>
    <div class="genre-index_add">
      <%= f.text_field :genre_name ,class: "genre-index_add_input" %>
      <div class="genre-index_add_button_flex">
      <%= f.submit  '保存' ,class: "genre-index_add_button" %>
      </div>
    </div>
  <% end %>



  <ul class="genre-index_list">
    <% @genres.each do |genre| %>
    <li class="genre-index_list_item">
      <%= link_to genre.genre_name ,genre_path(genre.id), class: "genre-index_list_item_anchor" %>
      <%= link_to edit_genre_path(genre.id) do %>
      <i class="fas fa-cog"></i>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>