<div class="l-main_container">
  <div class="m-title_flex login-title">
    <h2 class="m-title">登録情報編集</h2>

  </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="login-table">
        <div class="login-table_row">
          <span class="login-table_row_title">ユーザーネーム</span>
          <span class="login-table_row_content"><%= f.text_field :name, autofocus: true, autocomplete: "name" %></span>
          <% if @user.errors.include?(:not_found) %>
            <%= @user.errors.full_messages_for(:not_found) %>
          <% end %>
        </div class="login-table_row">
        <div class="login-table_row">
          <span class="login-table_row_title">メールアドレス</span>
          <span class="login-table_row_content"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
        </div>
        <div class="login-table_row">
          <span class="login-table_row_title">パスワード(6字以上)</span>
          <span class="login-table_row_content"><%= f.password_field :password, autocomplete: "new-password" %></span>
        </div>
        <div class="login-table_row">
          <span class="login-table_row_title">確認パスワード</span>
          <span class="login-table_row_content"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></span>
        </div>
      </div>
    <%= f.submit "更新", class:"btn-login" %>
  <% end %>
</div>

