<div class="nested-fields cooking_from">
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="meals-new_table_row">
    <span class="meals-new_table_row_title"><%= f.label "料理" %></span>
    <span class="meals-new_table_row_content"><%= f.text_field :cooking_name %></span>
  </div>
  <div class="meals-new_table_row">
    <span class="meals-new_table_row_title"><%= f.label "ＵＲＬ" %></span>
    <span class="meals-new_table_row_content"><%= f.text_field :url , placeholder: "任意"%></span>
  </div>
  <!--コクーンによる書き方-->
    <%= f.fields_for :tags do |u| %>
      <%= render "tag_fields", f: u %>
    <%end%>
  <div><%= link_to_add_association "ジャンル追加", f, :tags ,class: "meals-new_table_add_btn" %></div>
  <div><%= link_to_remove_association '料理削除', f, class: 'meals-new_table_delete_btn_cooking' %></div>
</div>

