<%= form_with(model: meal, local: true) do |s| %>
  <%= s.label :"タイトル" %>
  <%= s.text_field :title %>
  <%= s.label "説明" %>
  <%= s.text_area :meal_description %>
  <%= s.label "日にち" %>
  <%= s.date_field :date %>
  <%= s.label "食事時間" %>
  <%= s.select :mealtime, [['朝', 'breakfast'], ['昼', 'lunch'], ['夜','dinner']], {class: "user_class" } %>
  <div class="parents">
      <%= s.fields_for :cookings do |t| %>
          <%= render "cooking_fields", f: t %>
      <% end %>
      <div class="links">
          <%= link_to_add_association "追加", s, :cookings %>
      </div>
  </div>
  <div class="actions">
      <%= s.submit %>
  </div>
<% end %>
