<%= form_with(model: meal, local: true) do |s| %>
<div class="meals-new_table">
  <div class="meals-new_table_row">
    <span class="meals-new_table_row_title"><%= s.label :"タイトル" %></span>
    <span class="meals-new_table_row_content"><%= s.text_field :title %></span>
  </div>
  <div class="meals-new_table_row">
    <span class="meals-new_table_row_title"><%= s.label "説明" %></span>
    <span class="meals-new_table_row_content"><%= s.text_area :meal_description, placeholder: "任意" %></span>
  </div>
    <% if flash[:failure] %>
      <p id="notice" class="attention" ><%= flash[:failure]  %></p>
    <% end %>
  <div class="meals-new_table_row">
    <span class="meals-new_table_row_title"><%= s.label "日にち" %></span>
    <!--料理を登録する際は日付を記入し、編集時は変更できないようにしている-->
    <% if current_page?(new_meal_path) %>
      <span class="meals-new_table_row_content"><%= s.date_field :date %></span>
    <% else %>
    <!--編集時は日付を変更しないようにしているためhidden_fieldで日付のデータを送っている-->
      <span class="meals-new_table_row_content"><%= s.hidden_field :date,:value => @meal.date %><%= @meal.date %></span>
    <% end %>
  </div>
  <div class="meals-new_table_row meals-new_table_mealtime">
    <span class="meals-new_table_row_title"><%= s.label "食事時間" %></span>
    <% if current_page?(new_meal_path) %>
    <span class="meals-new_table_row_content"><%= s.select :mealtime, [['朝', 'breakfast'], ['昼', 'lunch'], ['夜','dinner']], {class: "user_class" } %></span>
    <% else %>
    <!--編集時は食事時間を変更しないようにしているためhidden_fieldで食事時間のデータを送っている-->
      <span class="meals-new_table_row_content mealtime_conversion">
        <%= s.hidden_field :mealtime,:value => @meal.mealtime %><%= @meal.mealtime %>
      </span>
    <% end %>
  </div>
    <%= s.fields_for :cookings do |t| %>
      <%= render "cooking_fields", f: t %>
    <% end %>
      <div class="links">
        <span><%= link_to_add_association "料理追加", s, :cookings,class: "meals-new_table_add_btn" %></span>
      </div>
    <%= s.submit "保存", class:"btn-login" %>
<% end %>
<% if current_page?(new_meal_path) %>
  <p class="meals-new_other">※投稿後、日時は変更できません。ご注意ください</p>
<% end %>