<div class="l-main_container">

  <div class="meals-index_top">
    <div class="meals-index_top_left">
    <%= link_to "自分のレシピ" , posts_path, class: "meals-index_top_left_post" %>
    <%= link_to 'レシピ作成',new_post_path, class: "meals-index_top_left_create" %>
    </div>
    <div class="meals-index_top_right">
    <%= link_to 'カレンダーに追加', new_meal_path, class: "meals-index_top_left_new" %>
    </div>
  </div>
  <br>
  <div id='calendar'></div>

  <% if  Meal.where(user_id: current_user.id).present? %>
    <div class="meals-index_event-container">
      <div id="meals-index_event_breakfast" class="event">
        <div class="meals-index_mealtime">
        <span class="meals-index_mealtime_title">朝</span>
        <span class="meals-index_mealtime_breakfast_show"></span>
        <span class="meals-index_mealtime_breakfast_edit"></span>
        </div>
        <div id="meals-index_event_breakfast_content"></div>
      </div>

      <div id="meals-index_event_lunch" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">昼</span>
            <span class="meals-index_mealtime_lunch_show"></span>
            <span class="meals-index_mealtime_lunch_edit"></span>
          </div>
          <div id="meals-index_event_lunch_content"></div>
      </div>

      <div id="meals-index_event_dinner" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">夜</span>
            <span class="meals-index_mealtime_dinner_show"></span>
            <span class="meals-index_mealtime_dinner_edit"></span>
          </div>
          <div id="meals-index_event_dinner_content"></div>
      </div>
      <div class="meals-index_event-container_link"></div>
    </div>

    <div class="rank-container">

      <div class="rank-container_block">
        <span class="rank-title">全体のランキング</span>
        <ul class="rank-list">
          <% @genres.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今月のランキング</span>
          <ul class="rank-list">
            <% @genres_month.each.with_index(1) do |genre, i| %>
            <li class="rank-list_item">
              <span class="rank-_list_item_head">第<%= i %>位</span>
              <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,month_genre_path(genre.id) %></span>
            </li>
            <% end %>
          </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今週のランキング</span>
        <ul class="rank-list">
          <% @genres_week.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,week_genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
  <div class="chart-container">
    <div class="chart-container_box">
      <span class="chart-title">月 ( 左:先月　右:今月 )</span>
      <canvas id="monthChart"></canvas>
    </div>
    <div class="chart-container_box">
      <span class="chart-title">週 ( 左:先週　右:今週 )</span>
      <canvas id="weekChart"></canvas>
    </div>
  </div>
  <% end %>

</div>