<div class="l-main_container">

          <%= render 'searchs/form' %>

  <div class="meals-index_top">
    <div class="meals-index_top_left">
    <%= link_to "自分のレシピ" , posts_path, class: "meals-index_top_left_post" %>
    <%= link_to user_path(current_user), class: "meals-index_top_left_favorite" do %>
    <i class="fas fa-star favorite-icon"></i>お気に入り
    <% end %>
    </div>
    <div class="meals-index_top_right">
    <%= link_to 'カレンダーに追加', new_meal_path, class: "meals-index_top_left_new" %>
    </div>
  </div>
  <br>
  <div id='calendar'></div>

  <div class="meals-index_event-container">
    <div id="meals-index_event_breakfast" class="event">
      <div class="meals-index_mealtime">
      <span class="meals-index_mealtime_title">朝</span>
      <span class="meals-index_mealtime_breakfast_show"></span>
      <span class="meals-index_mealtime_breakfast_edit"></span>
      </div>
      <div id="meals-index_event_breakfast_content"></div>
    </div>

    <div id="meals-index_event_lunch" class="event">
        <div class="meals-index_mealtime">
          <span class="meals-index_mealtime_title">昼</span>
          <span class="meals-index_mealtime_lunch_show"></span>
          <span class="meals-index_mealtime_lunch_edit"></span>
        </div>
        <div id="meals-index_event_lunch_content"></div>
    </div>

    <div id="meals-index_event_dinner" class="event">
        <div class="meals-index_mealtime">
          <span class="meals-index_mealtime_title">夜</span>
          <span class="meals-index_mealtime_dinner_show"></span>
          <span class="meals-index_mealtime_dinner_edit"></span>
        </div>
        <div id="meals-index_event_dinner_content"></div>
    </div>
    <div class="meals-index_event-container_link"></div>
  </div>

  <span>全体のランキング</span>
  <ul class="rank-list">
    <% @genres.each.with_index(1) do |genre, i| %>
    <li class="rank-list_item">
      <span class="rank-_list_item_head">第<%= i %>位</span>
      <span class="rank-_list_item_genre"><%= genre.genre_name %></span>
    </li>
    <% end %>
  </ul>

  <span>今月のランキング</span>
  <ul class="rank-list">
    <%# @genres_month.each.with_index(1) do |genre, i| %>
    <li class="rank-list_item">
      <span class="rank-_list_item_head">第<%#= i %>位</span>
      <span class="rank-_list_item_genre"><%#= genre.genre_name %></span>
    </li>
    <%# end %>
  </ul>
</div>