<div class="l-main_container">

    <%= render 'searchs/form' %>

  <div class="meals-index_top">
    <div class="meals-index_top_left">
    <%= link_to "自分のレシピ" , posts_path, class: "meals-index_top_left_post" %>
    <%= link_to user_path(current_user), class: "meals-index_top_left_favorite" do %>
    <i class="fas fa-star favorite-icon"></i>お気に入り
    <% end %>
    </div>
    <div class="meals-index_top_right">
    <%= link_to 'カレンダーに追加', new_meal_path, class: "meals-index_top_left_new" %>
    </div>
  </div>
  <br>
  <div id='calendar'></div>

  <div class="meals-index_event-container">
    <div id="meals-index_event_breakfast" class="event">
      <div class="meals-index_mealtime">
      <span class="meals-index_mealtime_title">朝</span>
      <span class="meals-index_mealtime_breakfast_show"></span>
      <span class="meals-index_mealtime_breakfast_edit"></span>
      </div>
      <div id="meals-index_event_breakfast_content"></div>
    </div>

    <div id="meals-index_event_lunch" class="event">
        <div class="meals-index_mealtime">
          <span class="meals-index_mealtime_title">昼</span>
          <span class="meals-index_mealtime_lunch_show"></span>
          <span class="meals-index_mealtime_lunch_edit"></span>
        </div>
        <div id="meals-index_event_lunch_content"></div>
    </div>

    <div id="meals-index_event_dinner" class="event">
        <div class="meals-index_mealtime">
          <span class="meals-index_mealtime_title">夜</span>
          <span class="meals-index_mealtime_dinner_show"></span>
          <span class="meals-index_mealtime_dinner_edit"></span>
        </div>
        <div id="meals-index_event_dinner_content"></div>
    </div>
    <div class="meals-index_event-container_link"></div>
  </div>

  <span>全体のランキング</span>
  <ul class="rank-list">
    <% @genres.each.with_index(1) do |genre, i| %>
    <li class="rank-list_item">
      <span class="rank-_list_item_head">第<%= i %>位</span>
      <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
    </li>
    <% end %>
  </ul>

  <span>今月のランキング</span>
  <ul class="rank-list">
    <% @genres_month.each.with_index(1) do |genre, i| %>
    <li class="rank-list_item">
      <span class="rank-_list_item_head">第<%= i %>位</span>
      <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
    </li>
    <% end %>
  </ul>

  <span>今週のランキング</span>
  <ul class="rank-list">
    <% @genres_week.each.with_index(1) do |genre, i| %>
    <li class="rank-list_item">
      <span class="rank-_list_item_head">第<%= i %>位</span>
      <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
    </li>
    <% end %>
  </ul>

  <canvas id="myChart"></canvas>
  <!--<canvas id="dayChart"></canvas>-->
  <script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: [
      <% @genres_pie.each.with_index(1) do |genre| %>
      "<%= genre.genre_name %>",
      <% end %>
      ],
    datasets: [{
      label: '全体の割合',
      backgroundColor: [
        "#e66363",
        "#9dc7e2",
        "#c8e29d",
        "#d49de2",
        "#e29db4",
        "#e2c49d",
        "#8c9dec",
        "#8ceb7a",
        "#d170a7",
        "#FaFF87",
        "#4d5a85",
        "#3b00FF"
      ],
      borderColor: "rgba(0,0,80,1)",
      data: [<% @genres_pie.count.each.with_index(1) do |genre| %>
        "<%= genre[1] %>",
        <% end %>
        ]
    }

    ]
  }
});
// var ctx = document.getElementById("dayChart");
// var myChart = new Chart(ctx, {
//   type: 'radar',
//   data: {
//     labels: ["Japanese", "Mathematics", "English", "Social studies", "Science"],
//     datasets: [{
//       label: 'A_kun',
//       backgroundColor: "rgba(0,0,80,0.4)",
//       borderColor: "rgba(0,0,80,1)",
//       data: [80, 90, 60, 70, 100, 70]
//     }, {
//       label: 'B_kun',
//       backgroundColor: "rgba(0,255,0,0.4)",
//       borderColor: "rgba(0,255,0,1)",
//       data: [90, 75, 80, 65, 80, 70]
//     }]
//   }
// });
</script>
</div>