<div class="l-main_container">

  <div class="meals-index_top">
    <div class="meals-index_top_left">
    <%= link_to "自分のレシピ" , posts_path, class: "meals-index_top_left_post" %>
    <%= link_to 'レシピ作成',new_post_path, class: "meals-index_top_left_create" %>
    </div>
    <div class="meals-index_top_right">
    <%= link_to 'カレンダーに追加', new_meal_path, class: "meals-index_top_left_new" %>
    </div>
  </div>
  <br>
  <div id='calendar'></div>

  <% if  Meal.where(user_id: current_user.id).present? %>
    <div class="meals-index_event-container">
      <div id="meals-index_event_breakfast" class="event">
        <div class="meals-index_mealtime">
        <span class="meals-index_mealtime_title">朝</span>
        <span class="meals-index_mealtime_breakfast_show"></span>
        <span class="meals-index_mealtime_breakfast_edit"></span>
        </div>
        <div id="meals-index_event_breakfast_content"></div>
      </div>

      <div id="meals-index_event_lunch" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">昼</span>
            <span class="meals-index_mealtime_lunch_show"></span>
            <span class="meals-index_mealtime_lunch_edit"></span>
          </div>
          <div id="meals-index_event_lunch_content"></div>
      </div>

      <div id="meals-index_event_dinner" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">夜</span>
            <span class="meals-index_mealtime_dinner_show"></span>
            <span class="meals-index_mealtime_dinner_edit"></span>
          </div>
          <div id="meals-index_event_dinner_content"></div>
      </div>
      <div class="meals-index_event-container_link"></div>
    </div>

    <div class="rank-container">

      <div class="rank-container_block">
        <span class="rank-title">全体のランキング</span>
        <ul class="rank-list">
          <% @genres.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今月のランキング</span>
          <ul class="rank-list">
            <% @genres_month.each.with_index(1) do |genre, i| %>
            <li class="rank-list_item">
              <span class="rank-_list_item_head">第<%= i %>位</span>
              <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,month_genre_path(genre.id) %></span>
            </li>
            <% end %>
          </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今週のランキング</span>
        <ul class="rank-list">
          <% @genres_week.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,week_genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
  <div class="chart-container">
    <div class="chart-container_box">
      <span class="chart-title">月 ( 左:先月　右:今月 )</span>
      <canvas id="monthChart"></canvas>
    </div>
    <div class="chart-container_box">
      <span class="chart-title">週 ( 左:先週　右:今週 )</span>
      <canvas id="weekChart"></canvas>
    </div>
  </div>
  <% end %>
<script>
  $(function() {
  // カレンダー機能
  function eventCalendar() {
    return $('#calendar').fullCalendar({});
  }

  function clearCalendar() {
    $('#calendar').html('');
  }


  $('#calendar').fullCalendar({
    events: '/meals.json',

    titleFormat: 'YYYY年 M月',
    dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],

    header: {
      left: '',
      center: 'title',
      right: 'today prev,next',
    },

    defaultTimedEventDuration: '03:00:00',
    buttonText: {
      prev: '前',
      next: '次',
      prevYear: '前年',
      nextYear: '翌年',
      today: '今日',
      month: '月',
      week: '週',
      day: '日',
    },
    timeFormat: 'HH:mm',
    // eventColor: '#63ceef',
    eventTextColor: '#000000',

    //eventClickとdayclickでは取得できるものに違いがあるため2つ記述してある。それぞれ別の方法で日付を取得している。
    eventClick: function(info) {
      // console.log(info.start._i);
      dayMealEvent(info.start._i);
    },

    dayClick: function dayEvent (date, jsEvent, view) {
      // console.log(`${date._d.getFullYear()}-${date._d.getMonth() + 1}-${date._d.getDate()}`);  「``」で式を出力できる
      var params = `${date._d.getFullYear()}-${date._d.getMonth() + 1}-${date._d.getDate()}`;
      dayMealEvent(params);
    }
  });
});

function dayMealEvent(params) {
  $.ajax('/meals/day?day=' + params)
      .done(function(data){
        console.log(data);
        $('.meals-index_event-container').css('display','block');
        $('#meals-index_event_breakfast_content').empty();
        $('#meals-index_event_lunch_content').empty();
        $('#meals-index_event_dinner_content').empty();
        $('.meals-index_mealtime_breakfast_show').empty();
        $('.meals-index_mealtime_lunch_show').empty();
        $('.meals-index_mealtime_dinner_show').empty();

        data.forEach((event) => {
          console.log(event);
          $('.meals-index_mealtime_breakfast_show').append(`<a class="${event.mealtime}_show" href="/meals/${event.id}">詳細</a>`)
          $('.meals-index_mealtime_lunch_show').append(`<a class="${event.mealtime}_show" href="/meals/${event.id}">詳細</a>`)
          $('.meals-index_mealtime_dinner_show').append(`<a class="${event.mealtime}_show" href="/meals/${event.id}">詳細</a>`)


          $('#meals-index_event_breakfast_content').append(
            ` <div class="meals-index_ivents ${event.mealtime}">
                <ul class="meals-index_ivents_container_list">
                  <li class="meals-index_ivents_container_list_item">
                    <a class="meals-index_ivents_container_list_item_anchor" href="${event.url}" target="_blank" rel="noopener noreferrer">${event.cooking_name}</a>
                  </li>
                </ul>
            </div>`
            );

          $('#meals-index_event_lunch_content').append(
            ` <div class="meals-index_ivents ${event.mealtime}">
                <ul class="meals-index_ivents_container_list">
                  <li class="meals-index_ivents_container_list_item">
                    <a class="meals-index_ivents_container_list_item_anchor" href="${event.url}" target="_blank" rel="noopener noreferrer">${event.cooking_name}</a>
                  </li>
                </ul>
            </div>`
            );

          $('#meals-index_event_dinner_content').append(
            ` <div class="meals-index_ivents ${event.mealtime}">
                <ul class="meals-index_ivents_container_list">
                  <li class="meals-index_ivents_container_list_item">
                    <a class="meals-index_ivents_container_list_item_anchor" href="${event.url}"  target="_blank" rel="noopener noreferrer">${event.cooking_name}</a>
                  </li>
                </ul>
            </div>`
            );

          $('.meals-index_ivents_container_list_item_anchor').each(function(i,e){
            if ($(e).attr('href')){
              $(e).css('color','#0ac');
            } else {
              $(e).removeAttr("href");
              $(e).css('color','#000');
            }
          });

          // カレンダーの日付をクリックした際に
      		$('.meals-index_mealtime_breakfast_show').children().remove('.lunch_show , .dinner_show');
      		$('.meals-index_mealtime_lunch_show').children().remove('.breakfast_show,.dinner_show');
      		$('.meals-index_mealtime_dinner_show').children().remove('.lunch_show,.breakfast_show');

          if ($('.meals-index_ivents_container_title_breakfast_item').text() == "breakfast" ){

            $('.meals-index_ivents_container_title_breakfast').text("朝")
          }
          else if ($('.meals-index_ivents_container_title_lunch_item').text() == "lunch" ){
            $('.meals-index_ivents_container_title_lunch').text("昼")

          }
          else if ($('.meals-index_ivents_container_title_dinner_item').text() == "dinner" ){
            $('.meals-index_ivents_container_title_dinner').text("夜")
          }
        })
      })
      .fail(function() {
        alert('ERROR');
      })
}

// チャート機能
var ctx = document.getElementById("monthChart");
// 先月
var last_month_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_lastmonth.count.each_with_index do |count,i| %>
var last_month_i = <%= i %>
var last_month_count = <%= count %>
last_month_genre[last_month_count[0]-1] = last_month_count;
<% end %>

var last_month_data_count = [];
last_month_genre.forEach(element=>{
  last_month_data_count.push(element[1])
});

// 今月
var month_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_month.count.each_with_index do |count,i| %>
var month_i = <%= i %>
var month_count = <%= count %>
month_genre[month_count[0]-1]=month_count;
<% end %>

var month_data_count = [];
month_genre.forEach(element=>{
  month_data_count.push(element[1])
});



var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [
      <% @genres_bar.each do |genre| %>
      "<%= genre.genre_name %>",
      <% end %>
      ],
    datasets: [{
      label: '先月',
       data: last_month_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#cacf57",
        "#bb682b",
        "#b2946d",
        "#98b26d",
        "#5c6dac",
        "#b63333",
        "#569446",
        "#6d97b2",
        "#a46db2",
        "#cf6c6c",
        "#a39839",
        "#c59bb3",
        "#1d2a55"
      ],
    },{

      label: '今月',
      data: month_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#FaFF87",
        "#eb984b",
        "#e2c49d",
        "#c8e29d",
        "#8c9dec",
        "#e66363",
        "#9fdb90",
        "#9dc7e2",
        "#d49de2",
        "#eb9d9d",
        "#e4db8c",
        "#eec1db",
        "#5d6a95"
      ],
        }

    ]}
});

var ctx = document.getElementById("weekChart");
// 先週
var last_week_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_lastweek.count.each_with_index do |count,i| %>
var last_week_i = <%= i %>
var last_week_count = <%= count %>
last_week_genre[last_week_count[0]-1]=last_week_count;
<% end %>

var last_week_data_count = [];
last_week_genre.forEach(element=>{
  last_week_data_count.push(element[1])
});

// 今週
var week_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_week.count.each_with_index do |count,i| %>
var week_i = <%= i %>
var week_count = <%= count %>
week_genre[week_count[0]-1]=week_count;
<% end %>

var week_data_count = [];
week_genre.forEach(element=>{
  week_data_count.push(element[1])
});
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [
      <% @genres_bar.each.with_index(1) do |genre| %>
      "<%= genre.genre_name %>",
      <% end %>
      ],
    datasets: [{
      label: '先週',
      backgroundColor: [
        "#cacf57",
        "#bb682b",
        "#b2946d",
        "#98b26d",
        "#5c6dac",
        "#b63333",
        "#569446",
        "#6d97b2",
        "#a46db2",
        "#cf6c6c",
        "#a39839",
        "#c59bb3",
        "#1d2a55"
      ],
      borderColor: "rgba(0,0,80,1)",
       data: last_week_data_count,
        },{
      label: '今週',
      data: week_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#FaFF87",
        "#eb984b",
        "#e2c49d",
        "#c8e29d",
        "#8c9dec",
        "#e66363",
        "#9fdb90",
        "#9dc7e2",
        "#d49de2",
        "#eb9d9d",
        "#e4db8c",
        "#eec1db",
        "#5d6a95"
      ],
        }

    ]}
});

</script>
</div>