<div class="l-main_container">
<p id="notice"><%= notice %></p>
  <div class="meals-index_top">
    <div class="meals-index_top_left">
    <%= link_to "自分のレシピ" , posts_path, class: "meals-index_top_left_post" %>
    <%= link_to 'レシピ作成',new_post_path, class: "meals-index_top_left_create" %>
    </div>
    <div class="meals-index_top_right">
    <%= link_to 'カレンダーに追加', new_meal_path, class: "meals-index_top_left_new" %>
    </div>
  </div>
  <br>
  <div id='calendar'></div>

  <% if  Meal.where(user_id: current_user.id).present? %>
    <div class="meals-index_event-container">
      <div id="meals-index_event_breakfast" class="event">
        <div class="meals-index_mealtime">
        <span class="meals-index_mealtime_title">朝</span>
        <span class="meals-index_mealtime_breakfast_show"></span>
        <span class="meals-index_mealtime_breakfast_edit"></span>
        </div>
        <div id="meals-index_event_breakfast_content"></div>
      </div>

      <div id="meals-index_event_lunch" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">昼</span>
            <span class="meals-index_mealtime_lunch_show"></span>
            <span class="meals-index_mealtime_lunch_edit"></span>
          </div>
          <div id="meals-index_event_lunch_content"></div>
      </div>

      <div id="meals-index_event_dinner" class="event">
          <div class="meals-index_mealtime">
            <span class="meals-index_mealtime_title">夜</span>
            <span class="meals-index_mealtime_dinner_show"></span>
            <span class="meals-index_mealtime_dinner_edit"></span>
          </div>
          <div id="meals-index_event_dinner_content"></div>
      </div>
      <div class="meals-index_event-container_link"></div>
    </div>

    <div class="rank-container">

      <div class="rank-container_block">
        <span class="rank-title">全体のランキング</span>
        <ul class="rank-list">
          <% @genres.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今月のランキング</span>
          <ul class="rank-list">
            <% @genres_month.each.with_index(1) do |genre, i| %>
            <li class="rank-list_item">
              <span class="rank-_list_item_head">第<%= i %>位</span>
              <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
            </li>
            <% end %>
          </ul>
      </div>

      <div class="rank-container_block">
        <span class="rank-title">今週のランキング</span>
        <ul class="rank-list">
          <% @genres_week.each.with_index(1) do |genre, i| %>
          <li class="rank-list_item">
            <span class="rank-_list_item_head">第<%= i %>位</span>
            <span class="rank-_list_item_genre"><%= link_to genre.genre_name ,genre_path(genre.id) %></span>
          </li>
          <% end %>
        </ul>
      </div>
  </div>
  <div class="chart-container">
    <div class="chart-container_box">
      <span class="chart-title">月 ( 左:先月　右:今月 )</span>
      <canvas id="monthChart"></canvas>
    </div>
    <div class="chart-container_box">
      <span class="chart-title">週 ( 左:先週　右:今週 )</span>
      <canvas id="weekChart"></canvas>
    </div>
  </div>
  <% end %>
  <script>
var ctx = document.getElementById("monthChart");

// 先月
var last_month_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_lastmonth.count.each_with_index do |count,i| %>
var last_month_i = <%= i %>
var last_month_count = <%= count %>
last_month_genre[last_month_count[0]-1] = last_month_count;
<% end %>

var last_month_data_count = [];
last_month_genre.forEach(element=>{
  last_month_data_count.push(element[1])
});

// 今月
var month_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_month.count.each_with_index do |count,i| %>
var month_i = <%= i %>
var month_count = <%= count %>
month_genre[month_count[0]-1]=month_count;
<% end %>

var month_data_count = [];
month_genre.forEach(element=>{
  month_data_count.push(element[1])
});



var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [
      <% @genres_bar.each do |genre| %>
      "<%= genre.genre_name %>",
      <% end %>
      ],
    datasets: [{
      label: '先月',
       data: last_month_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#b63333",
        "#6d97b2",
        "#98b26d",
        "#a46db2",
        "#b26d94",
        "#b2946d",
        "#5c6dac",
        "#5cbb4a",
        "#a14087",
        "#cacf57",
        "#1d2a55",
        "#4b00bF",
        "#bb682b",
        "#9b3134",
        "#9b3134",
        "#a39839",
        "#1d2a55",
        "#a55267",
        "#4db355",
        "#319b96"

      ],
    },{

      label: '今月',
      data: month_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#e66363",
        "#9dc7e2",
        "#c8e29d",
        "#d49de2",
        "#e29db4",
        "#e2c49d",
        "#8c9dec",
        "#8ceb7a",
        "#d170a7",
        "#FaFF87",
        "#4d5a85",
        "#7b70fF",
        "#eb984b",
        "#bb5154",
        "#50ba8e",
        "#e4db8c",
        "#1d2a55",
        "#ca8798",
        "#82d689",
        "#8ae2de"
      ],
        }

    ]}
});

var ctx = document.getElementById("weekChart");
// 先週
var last_week_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_lastweek.count.each_with_index do |count,i| %>
var last_week_i = <%= i %>
var last_week_count = <%= count %>
last_week_genre[last_week_count[0]-1]=last_week_count;
<% end %>

var last_week_data_count = [];
last_week_genre.forEach(element=>{
  last_week_data_count.push(element[1])
});

// 今週
var week_genre = [[1,0],[2,0],[3,0],[4,0],[5,0],[6,0],[7,0],[8,0],[9,0],[10,0],[11,0],[12,0],[13,0],[14,0],[15,0],[16,0],[17,0],[18,0],[19,0],[20,0],];
<% @genres_bar_week.count.each_with_index do |count,i| %>
var week_i = <%= i %>
var week_count = <%= count %>
week_genre[week_count[0]-1]=week_count;
<% end %>

var week_data_count = [];
week_genre.forEach(element=>{
  week_data_count.push(element[1])
});
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [
      <% @genres_bar.each.with_index(1) do |genre| %>
      "<%= genre.genre_name %>",
      <% end %>
      ],
    datasets: [{
      label: '先週',
      backgroundColor: [
        "#b63333",
        "#6d97b2",
        "#98b26d",
        "#a46db2",
        "#b26d94",
        "#b2946d",
        "#5c6dac",
        "#5cbb4a",
        "#a14087",
        "#cacf57",
        "#1d2a55",
        "#4b00bF",
        "#bb682b",
        "#9b3134",
        "#9b3134",
        "#a39839",
        "#1d2a55",
        "#a55267",
        "#4db355",
        "#319b96"
      ],
      borderColor: "rgba(0,0,80,1)",
       data: last_week_data_count,
        },{
      label: '今週',
      data: week_data_count,
        borderColor: "rgba(0,0,80,1)",
        backgroundColor: [
        "#e66363",
        "#9dc7e2",
        "#c8e29d",
        "#d49de2",
        "#e29db4",
        "#e2c49d",
        "#8c9dec",
        "#8ceb7a",
        "#d170a7",
        "#FaFF87",
        "#4d5a85",
        "#7b70fF",
        "#eb984b",
        "#bb5154",
        "#50ba8e",
        "#e4db8c",
        "#1d2a55",
        "#ca8798",
        "#82d689",
        "#8ae2de"
      ],
        }

    ]}
});
</script>
</div>