<div class="l-main_container">
  <div class="m-title_flex_show">
    <h2 class="m-title"><%= @meal.date.strftime('%Y/%m/%d') %><br class="u-sp">
    <% if @meal.mealtime  == "breakfast" %>
    [朝食]
    <% elsif @meal.mealtime  == "lunch" %>
    [昼食]
    <% else %>
    [夕食]
    <% end %>
    </h2>
    <%= link_to '編集', edit_meal_path(@meal.id) ,class: "meal_edit_btn" %>
  </div>
  <% if @meal.meal_description.present? %>
　  <p class="meals-show_description"><%= @meal.meal_description %></p>
　<% end %>
  <div class="meals-show_container_flex">
    <%= render 'meals/cookings', cookings: @meal.cookings %>
  </div>
  <%= link_to 'Back', meals_path ,class: "back-btn_show" %>
</div>
