<div class="l-main_container">
  <div class="m-title_flex login-title">
    <h2 class="m-title">ログイン</h2>
    <span>新規登録は<%= link_to 'こちら', new_user_registration_path %></span>

  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login-table">
      <div class="login-table_row">
        <span class="login-table_row_title">メールアドレス</span>
        <span class="login-table_row_content"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></span>
      </div class="login-table_row">
      <div class="login-table_row">
        <span class="login-table_row_title">パスワード</span>
        <span class="login-table_row_content"><%= f.password_field :password, autocomplete: "new-password" %></span>
      </div>
    </div>
    <div class="login-other">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    </div>
    <div class="login-other">
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
    <%= f.submit "ログイン", class:"btn-login" %>
  <% end %>
</div>