<ul class="cooking_list">
  <% posts.each do |post| %>
  <li class="cooking_list_item">
    <%= link_to post_path(post.id),class: "cooking_list_item_link" do %>
    <span class="cooking_list_item_image">
      <% if post.post_image.present? %>
      <%= attachment_image_tag(post, :post_image, :fill, 300, 300) %>
      <% else %>
      <%= image_tag ('no_image_1.jpg')%>
      <% end %>
    </span>
    <div class="cooking_list_item_title"><%= post.post_name %></div>
    <div class="cooking-list_item_time"><%= post.created_at.strftime("%Y-%m-%d") %></div>
    <% end %>
  </li>
  <% end %>
</ul>
