<div class="search_container">
  <% if user_signed_in? %>
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'content' %>
        <%= select_tag 'model', options_for_select({ "料理" => "cooking", "自分のレシピ" => "post" }) %>
        <%= button_tag type: 'submit' do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
  <% end %>
  <div class="l-header_username">
  <%= link_to edit_user_registration_path do %>
    <i class="fas fa-user-circle"></i><span class="l-header_username_text"><%= current_user.name %></span>
  <% end %>
  </div>
</div>